<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signapp.mapper.DocumentMapper">
<insert id="writeDocument" parameterType="com.example.signapp.dto.Document">
    INSERT INTO document (document_title, document_content, employee_id)
    VALUES (#{documentTitle}, #{documentContent}, #{employeeId})
</insert>

<select id="selectDocumentList" resultType="com.example.signapp.dto.Document">
    SELECT d.document_no AS documentNo,
           d.document_title AS documentTitle,
           e.employee_name AS employeeName,
           d.document_status AS documentStatus
      FROM document d
      LEFT JOIN employee e ON d.employee_id = e.employee_id
</select>

<!-- 문서번호를 이용해서 문서 1개를 조회하는 상세보기  -->
<select id="selectDocumentByNo" parameterType="int" resultType="com.example.signapp.dto.Document">
	SELECT
		d.document_no AS documentNo,
		d.document_title AS documentTitle,
		d.document_content AS documentContent,
		d.employee_id AS employeeId,
		e.employee_name AS employeeName,
		d.document_status AS documentStatus
	FROM document d
	JOIN employee e ON d.employee_id = e.employee_id
	WHERE d.document_no = #{documentNo}
</select>

<!-- 문서 수정 -->
<update id="updateDocument" parameterType="com.example.signapp.dto.Document">
	UPDATE document
	<set>
		<if test="documentTitle != null">document_title = #{documentTitle},</if>
		<if test="documentContent != null">document_content = #{documentContent}</if>
	</set>
	WHERE document_no = #{documentNo}
</update>

<!-- 문서 삭제 -->
<delete id="deleteDocument" parameterType="com.example.signapp.dto.Document">
	DELETE FROM document
	WHERE document_no = #{documentNo}
</delete>

</mapper> 