<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.signapp.mapper.SignMapper">
	<insert id="addSignLevel2"
		parameterType="com.example.signapp.dto.SignForm">
		INSERT INTO 
		sign (sign_id, document_no, last_approver_id, last_approver_name, sign_status_lv2,file_name_lv2,last_sign_time)
		VALUES (#{signId}, #{documentNo}, #{approverId}, #{approverName},#{signStatusLv2},
	 #{fileNameLv2}, NOW() + INTERVAL 9 HOUR);

	</insert>
	
	<update id="addSignLevel1"
		parameterType="com.example.signapp.dto.SignForm">
		UPDATE sign 
		SET 
		sign_status_lv1 = #{signStatusLv1},
		file_name_lv1 = #{fileNameLv1},
		last_approver_id = #{approverId},
		last_approver_name = #{approverName},
		last_sign_time = NOW() + INTERVAL 9 HOUR
		WHERE document_no = #{documentNo}
	</update>
	<!-- 레엘2-->
	<update id="modifySignLevel2"
		parameterType="com.example.signapp.dto.SignForm">
		UPDATE sign 
		SET 
		sign_status_lv2 = #{signStatusLv2},
		file_name_lv2 = #{fileNameLv2},
		last_approver_id = #{approverId},
		last_approver_name = #{approverName},
		last_sign_time = NOW() + INTERVAL 9 HOUR
		WHERE document_no = #{documentNo}
	</update>

<select id="selectSignByDocumentNo" resultType="com.example.signapp.dto.SignForm">
    SELECT 
        sign_id AS signId,
        document_no AS documentNo,
        last_approver_name AS approverName,
        sign_status_lv1 AS signStatusLv1,
        sign_status_lv2 AS signStatusLv2,
        file_name_lv1 AS fileNameLv1,
        file_name_lv2 AS fileNameLv2,
        last_sign_time AS signTime
    FROM sign
    WHERE document_no = #{documentNo}
    ORDER BY sign_id DESC
    LIMIT 1
</select>
<!-- sign 중복 제거(최신것만 남기고 삭제) -->
<delete id="deleteOldSignsExceptLatest" parameterType="int">
    DELETE FROM sign
    WHERE document_no = #{documentNo}
      AND sign_id NOT IN (
        SELECT * FROM (
            SELECT MAX(sign_id)
            FROM sign
            WHERE document_no = #{documentNo}
        ) AS tmp
    )
</delete>


</mapper>